h1{
  font-family: "Finger Paint", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: var(--Main);
}

h2, h3, p, a, label, input{
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

p, a{
  font-size: 12px;
}

.bigP{
  font-size: 14px;
}

.bold{
  font-weight: 800;
}

a{
  text-decoration: none;
  color: var(--Dark);
}

.main{
  color: var(--Main);
}

.callToAction{
  font-family: "Laila", serif;
  font-weight: 800;
  font-style: normal;
}

.headerInput input{
  text-align: end;
  font-size: 15px;
}

#titleLabel, #otherLabel{
  text-align: end;
  color: var(--Dark);
  margin-bottom: 10px;
}

#titleLabel{
  font-size: 21px;
  font-weight: 800;
}

#otherLabel{
  font-size: 16px;
  font-weight: 800;
}