*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

/* structures */
.container{
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  margin: 0 18px;
  padding-bottom: 20px;
}

.maxWidth{
  width: 100%;
  max-width: 450px;
}

/* Margins */
.marginTop{
  margin-top: 5px;
}

.marginBottom{
  margin-bottom: 15px;
}

.marginRight{
  margin-right: 5px;
}

.marginLeft{
  margin-left: 5px;
}

.marginLeftBig{
  margin-left: 15px;
}

.margin{
  margin: 0 16px;
}

/* flex */
.flex, svg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.flexSpaceAround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexSpaceInBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRight{
  display: flex;
  justify-content: end;
  align-items: center;
}

/* grid */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* values */
.roundCorner{
  border-radius: 20px;
}

.paddingBottom{
  padding-bottom: 100px;
}