@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

/* references:
footer sticking at the bottom: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/

/* colors */
:root{
  --Main: #12BAA7;
  --Dark: #071702;
  --Light: #D9F2EF;
  --Accents: #F1CF0E;
  --gray: #666666;
}

/* general */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  margin: 0 18px 18px;
  padding-bottom: 2.5rem;
}

.marginTop{
  margin-top: 18px;
}

.roundCorner{
  border-radius: 20px;
}

.flex, svg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexSpaceAround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexSpaceInBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Fonts */
h1{
  font-family: "Finger Paint", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2, h3, p{
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.callToAction{
  font-family: "Laila", serif;
  font-weight: 800;
  font-style: normal;
}

/* elements */
nav{
  padding: 10px;
  background-color: var(--Light);
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* classes */
.icons{
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

/* ids */
#list{
  background-color: var(--Main);
  border-radius: 50%;
}

#plus{
  margin:0 25px;
}